name: Publish package to npm

on:
    workflow_run:
        workflows: ["Test"]
        types: ["completed"]

jobs:
    build:
        if: ${{github.event.workflow_run.conclusion == 'success'}}
        runs-on: ubuntu-latest
        steps:
            - name: Running build
              run: npm run build

    publish:
        needs: build
        if: ${{needs.build.result == 'success'}}
        runs-on: ubuntu-latest
        steps:
            - name: Publish to npm
              run: npm publish --access public
              env:
                  NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
